* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @font-face {
  font-family: "Roboto";
  src: url("../fonts/") format("truetype");
} */

:root,
html {
  font-family: Roboto, "Times New Roman", Times, serif;
  scroll-padding-top: 70px;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --colorPrimary: #393f41;
  --colorSecondary: #03045e;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorBackgroundBlack: #000000bd;
  --colorHalfBlack: #333333;
  --colorBackgroundBlack: #343a405f;
  --colorBackgroundOverlay: #00000070;
  --colorWhiteOverlay: rgba(212, 210, 212, 1);
  --colorBorderWhite: #dbe4e9;
  --themeBlack: #0e0503;
}

/* Navbar Starts */
header {
  height: 80px;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}

/* Navbar Ends */

main {
  margin-top: 80px;
}

/* Slider */
.carousel {
  overflow: hidden !important;
  max-height: calc(100vh - 70px);
}

.carousel-indicators .active {
  background-color: var(--colorSecondary) !important;
}
.carousel-control-prev,
.carousel-control-next {
  /* background-color: var(--colorPrimary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%); */
  display: none;
}

@media screen and (max-width: 600px) {
  .carousel-item .banner1 {
    content: url("../img/banners/mobile_banner1.jpg");
  }
  .carousel-item .banner2 {
    content: url("../img/banners/mobile_banner2.jpg");
  }
}

/* InfoBox */
.info-box {
  padding-bottom: 20px;
  color: var(--colorBlack);
}

.info-title {
  font-size: 1.9em;
  font-weight: 600;
  padding: 1.2vw 0.8vw 0.3vw;
}

.info-location {
  font-size: 1em;
}

/*  */
/* For Desktop */
/* InfoBox */
@media only screen and (min-width: 990px) {
  .info-box {
    color: var(--colorWhite);
    width: 100%;
    height: 100%;
    text-align: left;
    position: absolute;
    top: 0;
    /* left: 1.5em; */
    z-index: 9;
    /* margin-top: 7em; */

    display: inline-block;
    /* background-color: var(--colorBackgroundOverlay); */
    /* border-radius: 0 50px; */
    /* border: 3px solid var(--colorBorderWhite); gradient Border animation */
    /* padding-top: 1.5vw; */
  }

  .info-status {
    border-radius: 0 50px 0 0;
  }

  .info-box .info-title {
    font-size: 2em;
    padding: 5px 3px 5px;
    color: var(--colorWhite);
  }
  .info-location {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
  }
  .info-offers {
    margin-top: 1em;
    font-size: 1.2em;
  }
  .txt {
    margin-top: 15em;
    margin-left: 5em;
  }
}

.image-design {
  border-radius: 50px 0;
}
.pro-button {
  font-size: 1.1em;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  text-transform: capitalize;
  border: none;
}
.schedule_btn_img {
  width: 25px;
  margin-right: 10px;
  height: auto;
}
